{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title>Delvin {% block title %} {% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{% static 'img/tab/trident.svg' %}">
  <link rel="apple-touch-icon" href="images/ico/apple-touch-icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&amp;display=swap">
  <link rel="stylesheet" href="{% static 'css/uikit-custom.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/vue-fullpage.js/dist/style.css"/>
  <!-- VUEJS
  {% if env_name == 'production' %}
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {% endif %}-->

  <link href="{% static 'src/vue/dist/css/app.css' %}" rel=stylesheet>
</head>

<body id="body-app" class="yb-dark-skin uk-light">
  <!-- page loader -->
  <div id="pageloader" class="yb-pageloader-wrapper">
    <div class="uk-position-center  uk-text-center">
      <div data-uk-spinner></div>
    </div>
  </div>

  <!-- VUE test -->

  <header class="yb-main-header" id="main-header">
    <!-- main menu -->
    <nav class="yb-main-menu" id="main-menu">
      <div class="uk-container" data-uk-navbar>
        <div class="uk-navbar-left">
          <a class="yb-logo uk-navbar-item uk-logo" href="dark-index.html"><span>Delvin</span></a>
        </div>
        <div class="uk-navbar-right uk-hidden@m">
          <a class="uk-navbar-toggle" href="#" id="btn-menu-toggle">
            <span data-uk-navbar-toggle-icon class="yb-icon-menu"></span>
            <span data-uk-icon="close" class="yb-icon-close"></span>
          </a>
        </div>
        <div class="yb-menu-toggle-wrapper" id="menucollapse">
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav" data-uk-scrollspy-nav="closest: li; scroll: false; offset: 79 ">
              <li>
                <a class="yb-inner-link" href="#"> Blog </a>
              </li>
              <li>
                <a class="yb-inner-link" href="#"> About</a>
              </li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav yb-social-icons">
              <li>
                <a href="https://www.facebook.com/0327Eve/">
                  <span class="uk-icon " data-uk-icon="icon: facebook"></span>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/dlvn.n/?hl=en">
                  <span class="uk-icon" data-uk-icon="icon: instagram"></span>
                </a>
              </li>
              <li>
                <a href="https://wa.link/442i6e">
                  <span class="uk-icon" data-uk-icon="icon: whatsapp"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav><!-- end main menu -->
  </header>
  <!-- main content  -->
  {% block body %}
  {% endblock %}
  <!-- main footer -->
  <footer class="yb-main-footer-wrapper">
    <div class="waveHorizontals">
      <div id="waveHorizontal1" class="waveHorizontal" data-uk-img data-src="{% static 'img/bg/wave1.svg' %}"></div>
      <div id="waveHorizontal2" class="waveHorizontal" data-uk-img data-src="{% static 'img/bg/wave2.svg' %}"></div>
      <div id="waveHorizontal3" class="waveHorizontal" data-uk-img data-src="{% static 'img/bg/wave3.svg' %}"></div>
    </div>
    <a href="#body-app" class="uk-visible@s yb-totop yb-inner-link" data-uk-totop></a>
    <div class="yb-main-footer">
      <div class="uk-container">
        <div data-uk-grid class="uk-child-width-1-2@s">
          <div class="uk-margin-remove uk-text-left@s">
            &copy; Delvin <script>
              document.write(new Date().getFullYear());
            </script>

          </div>
          <div class="uk-margin-remove uk-text-right@s">
            <div class="yb-footer-social">
              <a href="https://www.facebook.com/0327Eve/">Facebook</a>
              <a href="https://www.instagram.com/dlvn.n/?hl=en">Instagram</a>
              <a href="https://wa.link/442i6e">Whatsapp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- end main footer -->

  <!-- js -->
  <script src="{% static 'js/plugins.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>

  <!-- VUEJS -->
  <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
  <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>

  <!-- Fullpage-->
  <script type="module" src="https://unpkg.com/vue-fullpage.js/dist/vue-fullpage.es.js"></script>

  {% block vue %}
  {% endblock %}
</body>


</html>